<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="TRELLO_USERNAME" value="CHANGE THIS IN App.Debug.config" />
    <add key="TRELLO_PASSWORD" value="CHANGE THIS IN App.Debug.config" />
  </appSettings>

  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>